<h2>Récapitulatif des données saisies</h2>
<ul>
    <li><strong>Civilité:</strong> {{ formData.civilite }}</li>
    <li><strong>Nom:</strong> {{ formData.nom }}</li>
    <li><strong>Prénom:</strong> {{ formData.prenom }}</li>
    <li><strong>Adresse:</strong> {{ formData.adresse }}</li>
    <li><strong>Code Postal:</strong> {{ formData.cp }}</li>
    <li><strong>Ville:</strong> {{ formData.ville }}</li>
    <li><strong>Pays:</strong> {{ formData.pays }}</li>
    <li><strong>Téléphone:</strong> {{ formData.tel }}</li>
    <li><strong>Email:</strong> {{ formData.email }}</li>
    <li><strong>Login:</strong> {{ formData.login }}</li>
</ul>
